{% extends 'myapp/base.html' %}

{% block content %}
<a href="{% url 'ajouter_pc' %}" class="btn btn-success mb-3">Ajouter un PC</a>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nom du PC</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for pc in pcs %}
        <tr>
            <td><a href="{% url 'detail_pc' pc.id %}">{{ pc.nom }}</a></td>
            <td>
                <a href="{% url 'modifier_pc' pc.id %}" class="btn btn-warning btn-sm">Modifier</a>
                <a href="{% url 'supprimer_pc' pc.id %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
